<h1>
  <%= @slide.title %>
</h1>

<p>
  <%= @slide.content %>
</p>
<br><hr>
<span class = "left">
<% if @slide.get_previous_slide %>
<%= link_to "Previous Slide ", "/presentations/#{@slide.presentation.id}/slides/#{@slide.get_previous_slide.id}" %>
<% end %>
</span>
<span class = "right" style="float:right">
<% if @slide.get_next_slide %>
<%= link_to "Next Slide", "/presentations/#{@slide.presentation.id}/slides/#{@slide.get_next_slide.id}" %>
<% end %>
</span>

